<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="container">
<!--    <form action="/home/" method="post" id="myForm">  -->
   <form> 
    <table border=2 cellspacing="10" cellpadding="10">
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>IMAGE</th>
          <th>PRICE</th>
          <th>DESCRIPTION</th>
          <th>owner</th>
      </tr>
  </table>
 </form>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script type="text/javascript">
           fetch('http://127.0.0.1:8000/products/')
            .then(function (response){
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var tr;
            for (var i = 0; i < data.length; i++) {
                tr = $('<tr>');
                tr.append("<td>" + data[i].id + "</td>");
                tr.append("<td>" + data[i].name + "</td>");
                tr.append("<td>" + data[i].image + "</td>");
                tr.append("<td>" + data[i].price + "</td>");
                tr.append("<td>" + data[i].description + "</td>");
                tr.append("<td>" + data[i].owner + "</td>");

                $('table').append(tr);
                
                $(document).ready(function(){
                $("#submitBtn").click(function(){        
                $("#myForm").submit(); // Submit the form
    });
});
            }
        }
    </script>
</body>
</html>

