{% extends 'base.html' %}
{% block content %}
{{user}}

<div class="container" align="center">
    <table border=2 cellspacing="10" cellpadding="10" id='list'>
        <h3>PRODUCT LIST</h3>
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th colspan="3">
                <center>SELECT</center>
            </th>
        </thead>
        <tr>
        </tr>
    </table>
    <br>
    <h3>PRODUCT LIST</h3>
    <table border="3">
        <thead>
            <th>PRODUCT ID</th>
            <th>PRODUCT IMAGE</th>
            <th>PRODUCT NAME</th>
            <th>PRODUCT PRICE</th>
            <th>PRODUCT DETAIL</th>
            <th>SELLER</th>
        </thead>
        <tr>
            <td id="ID"></td>
            <td id="IMAGE"></td>
            <td id="NAME"></td>
            <td id="PRICE"></td>
            <td id="DETAIL"></td>
            <td id="SELLER"></td>
        </tr>
    </table>
</div>

<div>
    <h1>UPDATE PRODUCT</h1>
    <form>
        {% csrf_token %}
        <div>
            prouduct_name <br>
            <input type="text" id="uname"/>
        </div>
        <div>
            price <br/>
            <input type="number" id="uprice"/>
        </div>

        <div>
            product detail<br/>
            <input type="text" id="uproduct_detail"/>
        </div>
        <div>
            <input type="number" id="uid" hidden />
        </div>
        <div>
            <button type="button" id="update">UPDATE</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$.ajax({
    url: 'http://127.0.0.1:8000/products/',
    type: "GET",
    success: function appendData(data) {
        var tr;
        for (var i = 0; i < data.length; i++) {
            tr = $('<tr>');
            tr.append("<td>" + data[i].id + "</td>");
            tr.append("<td>" + data[i].name + "</td>");
            let id = data[i].id
            console.log(id)
            tr.append('<td><button onclick="showDetail(' + id + ')"class="btn-lg btn btn-light">Product Detail</button></td>')
            tr.append('<td><button onclick="destroy(' + id + ')"class="btn-lg btn btn-light">Delete Product</button></td>')
            tr.append('<td><button onclick="update(' + id + ')"class="btn-lg btn btn-light">Update Product</button></td>')
            $('#list').append(tr);
        }
    }
})




function showDetail(id) {
    console.log(id);
    url = 'http://127.0.0.1:8000/products/' + id + ''
    $.ajax({
        url: url,
        type: 'GET',
        dataType: "json",
        success: function(data) {
            $('#ID').text(data.id);
            $('#IMAGE').text(data.image);
            $('#NAME').text(data.name);
            $('#PRICE').text(data.price);
            $('#DETAIL').text(data.description);
            $('#SELLER').text(data.owner);
        }
    })
}

function destroy(id) {

    console.log(id);
    url = "http://127.0.0.1:8000/products/" + id + "/destroy/"
    data = {
            csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        $.ajax({
            url: url,
            type: "DELETE",
            data: data,
            success: function(data) {
                window.location.reload()
            }
        })
}

function update(id) {
    console.log(id);
    url = 'http://127.0.0.1:8000/products/' + id + ''
            
    $.ajax({
        url: url,
        type: 'GET',
        dataType: "json",
        success: function(data) {
            // debugger
            console.log(data)
            $('#uid').val(data.id);
            $('#uname').val(data.name);
            $('#uprice').val(data.price);
            $('#uproduct_detail').val(data.description);

        }
    })
}

        $(document).ready(function () {
              $("#update").click(function () {
            
               var formData = new FormData();
               var u_id = $('#uid').val();
               var token = "{{ csrf_token }}"
               var name = $('#uname').val();
               var price = $('#uprice').val();
               var product_detail = $('#uproduct_detail').val();
               url = "http://127.0.0.1:8000/update/"+u_id+"/";
               
               formData.append("name", name);
               formData.append("price", price);
               formData.append("description",product_detail);
               formData.append("csrfmiddlewaretoken", token);
                    $.ajax({
                     type: "PATCH",
                     url:url,
                     data: formData,
                     success: function (data) {
                       alert('product Updated successfully')
                         console.log("SUCCESS : ", data);
                         // window.location.reload()
                     },
                     error: function (data) {
                       alert('something went wrong')
                         console.log("ERROR : ", e);
                     }
                 });
                });
              });


// $("#Save").click(function() {
// var formData = new FormData();
// // var file = $('#img')[0].files[0] 
// var token = "{{ csrf_token }}"
// var name = $('#pname').val();
// var price = $('#price').val();
// var product_detail = $('#product_detail').val();
// // var owner = $('#owner').val();
// formData.append("image", file, file.name);
// formData.append("name", name);
// formData.append("price", price);
// formData.append("description", product_detail);
// // formData.append("description",product_detail);   
// formData.append("csrfmiddlewaretoken", token);
// url = 'http://localhost:8000/create/'
// console.log(url)
// // debugger;
// $.ajax({
//     type: "POST",
//     enctype: 'multipart/form-data',
//     url: url,
//     data: formData,
//     processData: false,
//     contentType: false,
//     cache: false,
//     timeout: 600000,
//     success: function(data) {
//         alert('product add successfully')
//         console.log("SUCCESS : ", data);

//     },
//     error: function(data) {
//         alert('something went wrong')
//         console.log("ERROR : ", e);

//     }
// });
// });




</script>

{% endblock %}